* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #222;
  font-family: sans-serif;
}
.parent {
  padding: 20px;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
}
.navbar {
  background-color: crimson;
  border: 2px solid #fff;
  font-size: 40px;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}
.card {
  background-color: #f8f8f8;
  color: #222;
  width: 320px;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}
.card h1 {
  margin-bottom: 20px;
}
.card p {
  margin-bottom: 20px;
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.card button {
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  background-color: green;
  color: #fff;
  font-size: 20px;
}
