.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  padding: 10px 20px;
  color: white;
}

.nav button {
  background-color: black;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
  outline: none;
}
